.icon {
  cursor: pointer;
  transition: all 0.3s ease;
  margin: 0 5px;
}

.icon:hover {
  scale: 1.2;
}

.delete {
  color: #e15639;
}

.edit {
  color: #187880;
}

.agregar {
  font-size: 10px;
  line-height: 20px;
}
