img {
  width: 100%;
  height: fit-content;
  object-fit: cover;
  max-width: fit-content;
}

.card {
  margin: 15px;
}

.far {
  cursor: pointer;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.buttons button {
  width: 45%;
}

table i {
  transition: all 0.3s ease;
}

table i:hover {
  scale: 1.2;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
}
