table {
  margin-top: 20px;
}

.acciones {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 25px;
  padding-bottom: 15px;
}

.pointer {
  cursor: pointer;
  transition: all 0.3s;
}

.pointer:hover {
  scale: 1.2;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
  margin-top: 15px;
  margin-bottom: 0;
}

h2 {
  text-align: center;
  margin-top: 100px;
  font-weight: 900;
}
