table {
  margin-top: 20px;
}

.acciones {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 25px;
  padding-bottom: 15px;
}

.pointer {
  cursor: pointer;
  transition: all 0.3s;
}

.pointer:hover {
  scale: 1.2;
}
