<div class="body">
  <div class="login">
    <img src="../../../assets/imgs/usuario.png" alt="User" />
    <hr />
    <h1>Login</h1>
    <mat-form-field class="ancho" appearance="fill">
      <mat-label>Usuario</mat-label>
      <input matInput />
    </mat-form-field>
    <mat-form-field class="ancho" appearance="fill">
      <mat-label>Contraseña</mat-label>
      <input matInput />
    </mat-form-field>
    <br />
    <div class="example-button-row">
      <button
        mat-raised-button
        class="button"
        style="background-color: #3f51b5; color: white"
      >
        Ingresar
      </button>
    </div>
  </div>
</div>
