<div class="titulo">
  <h1>ver mascota</h1>
</div>
<div class="container">
  <mat-card class="card">
    <mat-card-title>NOMBRE DEL PERRO</mat-card-title>
    <mat-card-content>
      <p><strong>RAZA:</strong> labrador</p>
      <p><strong>COlor:</strong> dorado</p>
      <p><strong>peso:</strong> 50kg</p>
      <p><strong>edad:</strong> 15 años</p>
    </mat-card-content>

    <mat-card-actions>
      <button mat-raised-button routerLink="/listadoMascotas">Volver</button>
    </mat-card-actions>
  </mat-card>
</div>
